<a href="https://colab.research.google.com/github/carsonashby/DS-Unit-2-Linear-Models/blob/master/Copy_of_LS_DS_213_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [2]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [3]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [4]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [5]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [6]:
df.head()
subsetdf = df[(df.BUILDING_CLASS_CATEGORY == '01 ONE FAMILY DWELLINGS') & (df.SALE_PRICE < 2000000) & (df.SALE_PRICE > 100000)]
olddf = df
df = subsetdf

df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3151 entries, 44 to 23035
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         3151 non-null   object
 1   NEIGHBORHOOD                    3151 non-null   object
 2   BUILDING_CLASS_CATEGORY         3151 non-null   object
 3   TAX_CLASS_AT_PRESENT            3151 non-null   object
 4   BLOCK                           3151 non-null   int64
 5   LOT                             3151 non-null   int64
 6   EASE-MENT                       0 non-null      float64
 7   BUILDING_CLASS_AT_PRESENT       3151 non-null   object
 8   ADDRESS                         3151 non-null   object
 9   APARTMENT_NUMBER                1 non-null      object
 10  ZIP_CODE                        3151 non-null   float64
 11  RESIDENTIAL_UNITS               3151 non-null   float64
 12  COMMERCIAL_UNITS                3151 non-null   float64
 13  TOTAL_UNITS                     3151 non-null   float64
 14  LAND_SQUARE_FEET                3151 non-null   object
 15  GROSS_SQUARE_FEET               3151 non-null   float64
 16  YEAR_BUILT                      3151 non-null   float64
 17  TAX_CLASS_AT_TIME_OF_SALE       3151 non-null   int64
 18  BUILDING_CLASS_AT_TIME_OF_SALE  3151 non-null   object
 19  SALE_PRICE                      3151 non-null   int64
 20  SALE_DATE                       3151 non-null   object
dtypes: float64(7), int64(4), object(10)
memory usage: 541.6+ KB

In [7]:
df['SALE_DATE'] = df['SALE_DATE'].str.replace("/", '')
df['SALE_DATE'] = df['SALE_DATE'].str.replace('2019', '')
df['SALE_DATE'] = '2019' + df['SALE_DATE']
df['SALE_DATE'] = pd.to_numeric(df['SALE_DATE'])

df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

    BOROUGH NEIGHBORHOOD  ... SALE_PRICE SALE_DATE
44        3        OTHER  ...     550000  20190101
61        4        OTHER  ...     200000  20190101
78        2        OTHER  ...     810000  20190102
108       3        OTHER  ...     125000  20190102
111       3        OTHER  ...     620000  20190102

[5 rows x 21 columns]

In [ ]:
print(int2date(20190101))

2019-01-01

In [10]:
df['SALE_DATE'] = df['SALE_DATE'].apply(int2date)
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
44        3        OTHER  ...     550000  2019-01-01
61        4        OTHER  ...     200000  2019-01-01
78        2        OTHER  ...     810000  2019-01-02
108       3        OTHER  ...     125000  2019-01-02
111       3        OTHER  ...     620000  2019-01-02

[5 rows x 21 columns]

In [ ]:
df.head()

    BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
44        3        OTHER  ...     550000  01/01/2019
61        4        OTHER  ...     200000  01/01/2019
78        2        OTHER  ...     810000  01/02/2019
108       3        OTHER  ...     125000  01/02/2019
111       3        OTHER  ...     620000  01/02/2019

[5 rows x 21 columns]

In [30]:
target = 'SALE_PRICE'
y = df[target]
X = df.drop(columns = target)
X = X.fillna(0)

0

In [9]:
from datetime import date


def int2date(argdate: int) -> date:
    """
    If you have date as an integer, use this method to obtain a datetime.date object.

    Parameters
    ----------
    argdate : int
      Date as a regular integer value (example: 20160618)

    Returns
    -------
    dateandtime.date
      A date object which corresponds to the given value `argdate`.
    """
    year = int(argdate / 10000)
    month = int((argdate % 10000) / 100)
    day = int(argdate % 100)

    return date(year, month, day)

In [ ]:
type(df.index)

pandas.core.indexes.base.Index

In [31]:
cutoff = pd.to_datetime('2019-04-01')
mask = X['SALE_DATE'] < cutoff
X_train, y_train = X.loc[mask], y.loc[mask]
X_test, y_test = X.loc[~mask], y.loc[~mask]

In [32]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

y_pred = [y_train.mean()] * len(y_train)
print('Mean price:', y_train.mean())
print('Baseline MAE:', mean_absolute_error(y_train, y_pred))

Mean price: 621573.7423214999
Baseline MAE: 214721.52773001452

In [26]:
from sklearn.linear_model import LinearRegression, Ridge
from category_encoders import OneHotEncoder
from sklearn.feature_selection import SelectKBest

In [33]:
ohe = OneHotEncoder(use_cat_names=True)
skb = SelectKBest(k=25)

ohe.fit(X_train)

XT_train = ohe.transform(X_train)
XT_test = ohe.transform(X_test)


skb.fit(XT_train, y_train)
XTT_train = skb.transform(XT_train)
XTT_test = skb.transform(XT_test)

/usr/local/lib/python3.6/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

0

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:114: UserWarning: Features [   4   12   17   29   30   37   38   43   52   61   73   78   82   84
   85   86   92   93  105  112  113  115  122  126  131  132  145  151
  154  165  176  177  178  180  185  187  190  198  207  209  216  225
  231  233  248  251  254  256  262  263  264  267  279  283  300  311
  314  315  327  330  338  348  351  355  361  364  366  370  378  379
  382  383  386  387  388  390  391  400  409  412  413  416  417  430
  432  434  438  442  443  449  453  458  462  478  479  484  491  492
  498  507  511  515  519  520  523  527  531  532  535  536  537  546
  551  560  563  565  568  573  589  593  596  598  600  604  605  608
  615  617  623  625  626  632  637  639  640  641  643  644  645  647
  650  652  654  659  661  668  669  675  683  688  689  693  695  697
  698  701  708  711  713  715  723  726  730  731  740  752  754  755
  768  778  782  783  784  786  789  790  797  798  806  824  833  835
  839  850  862  863  870  872  877  879  886  889  891  892  893  901
  902  910  914  915  916  917  918  924  926  929  931  940  941  944
  948  952  956  957  961  964  969  984  985  988  990  995 1007 1010
 1012 1014 1015 1024 1026 1027 1029 1032 1043 1050 1051 1052 1053 1054
 1057 1058 1072 1075 1078 1081 1088 1090 1094 1096 1097 1098 1100 1102
 1103 1107 1110 1124 1126 1129 1133 1135 1137 1139 1141 1143 1156 1158
 1161 1166 1171 1172 1175 1186 1187 1193 1194 1195 1196 1203 1213 1220
 1229 1230 1231 1237 1238 1241 1242 1246 1247 1249 1252 1258 1261 1265
 1266 1277 1278 1284 1288 1289 1299 1300 1307 1310 1312 1316 1317 1323
 1324 1327 1330 1331 1332 1333 1334 1336 1348 1354 1356 1366 1370 1374
 1381 1382 1387 1390 1393 1396 1398 1406 1416 1419 1420 1430 1440 1444
 1455 1457 1464 1465 1469 1472 1473 1496 1497 1498 1500 1501 1503 1508
 1509 1518 1519 1521 1526 1530 1535 1536 1537 1542 1546 1552 1555 1557
 1560 1569 1570 1571 1579 1580 1584 1586 1595 1601 1602 1604 1606 1607
 1612 1613 1614 1616 1621 1624 1627 1629 1630 1632 1635 1638 1641 1659
 1660 1671 1674 1687 1688 1694 1695 1700 1703 1706 1719 1721 1729 1734
 1737 1739 1740 1741 1747 1749 1762 1778 1780 1790 1792 1796 1803 1805
 1806 1811 1815 1825 1826 1830 1833 1842 1849 1850 1853 1855 1858 1863
 1867 1868 1876 1881 1882 1888 1891 1895 1897 1899 1901 1907 1911 1919
 1926 1928 1930 1935 1940 1946 1947 1951 1958 1961 1962 1964 1966 1970
 1973 1974 1981 2002 2008 2016 2017 2018 2044 2050 2051 2058 2064 2073
 2076 2091 2092 2095 2096 2098 2100 2105 2109 2113 2123 2130 2138 2144
 2152 2157 2166 2167 2173 2177 2179 2181 2183 2188 2191 2194 2195 2196
 2197 2202 2203 2204 2213 2214 2218 2225 2228 2232 2233 2236 2237 2238
 2242 2243 2244 2251 2253 2254 2256 2259 2260 2262 2276 2290 2292 2293
 2294 2299 2303 2305 2318 2320 2321 2325 2326 2329 2333 2335 2339 2343
 2347 2349 2353 2354 2362 2364 2368 2381 2382 2388 2390 2400 2402 2406
 2410 2411 2429 2439 2443 2445 2449 2454 2455 2457 2458 2459 2460 2461
 2462 2463 2469 2471 2473 2474 2478 2485 2486 2497 2499 2500 2506 2507
 2508 2509 2511 2512 2527 2528 2529 2547 2557 2560 2565 2572 2573 2583
 2590 2597 2598 2607 2612 2627 2628 2652 2653 2660 2682 2683 2691 2697
 2714 2717 2719 2725 2732 2734 2739 2743 2744 2745 2773 2780 2786 2791
 2804 2810 2811 2822 2823 2824 2827 2832 2840 2844 2849 2850 2852 2855
 2857 2861 2865 2875 2881 2886 2887 2888 2893 2894 2903 2909 2916 2922
 2928 2930 2931 2935 2939 2940 2946 2952 2953 2965 2972 2975 2979 2980
 2986 2990 2993 2997 2999 3006 3035 3039 3042 3049 3050 3054 3057 3058
 3059 3066 3067 3078 3081 3082 3084 3089 3090 3091 3095 3097 3104 3106
 3113 3123 3124 3128 3133 3134 3136 3137 3143 3146 3147 3150 3152 3154
 3155 3157 3160 3163 3167 3173 3174 3178 3179 3192 3194 3200 3206 3207
 3226 3229 3230 3234 3236 3241 3251 3258 3267 3269 3275 3277 3290 3303
 3305 3314 3318 3322 3324 3330 3331 3337 3338 3345 3347 3350 3359 3361
 3362 3371 3374 3389 3392 3403 3405 3406 3407 3408 3409 3415 3416 3420
 3423 3434 3491 3502] are constant.
  UserWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

In [34]:
model_lr = LinearRegression()
model_lr.fit(XTT_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [38]:
model_r = Ridge(alpha=1, normalize=True)
model_r.fit(XT_train, y_train)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None, normalize=True,
      random_state=None, solver='auto', tol=0.001)

In [36]:
print('LR training MAE:', mean_absolute_error(y_train, model_lr.predict(XTT_train)))
print('LR test MAE:', mean_absolute_error(y_test, model_lr.predict(XTT_test)))

LR training MAE: 210348.58591674286
LR test MAE: 211468.51510707595

In [39]:
print('Ridge training MAE:', mean_absolute_error(y_train, model_r.predict(XT_train)))
print('Ridge test MAE:', mean_absolute_error(y_test, model_r.predict(XT_test)))

Ridge training MAE: 78629.44870635578
Ridge test MAE: 181724.3428340042